
header, main, aside, article, footer {
	display: block;
}
body {
	margin: 20px;
	background-color: #444444;
}
header {
 	min-height: 300px;
 	background-image: url("http://www.biocenit.cat/mypics/89/895990/magical-forest-wallpaper.jpg");
 	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}

h1 {
	color: #fff;
    font-family: "Arial";
    text-transform: uppercase;
	text-align: left;
    padding-top: 220px;
    padding-left: 20px;
    display: inline-block;    
}

main {
	margin: 0;
	padding: 0;
}

main aside nav ul {
  list-style-type: none;
  padding: 0;
  display: inline;
}

main aside nav ul li {
  display: inline-block;
  padding-bottom: 10px;  
}

main aside nav ul li a {
	text-decoration: none;
	color: #98a08e;
	margin: 0;
	padding: 10px;
	display: inline-block;
    font-size: 13px;
	text-transform: uppercase;
	transition: 0.5s;
	font-family: "Arial";
}      

article {
	background-color: #fff;
	padding: 10px 20px;
}

h2 {
	color: #628736;
	display: inline-block;
	margin: 0;
    padding-bottom: 0;
}

p {
	font-family: "Arial";
}

footer {
	background-color: #444444;
	min-height: 120px;
	text-align: left;
	color: #7a7a7a;
	padding: 5px 10px;
}

footer span:after {
	content: " 2005 | All Rights Reserved";
}


